<div class="container">
  <h1>Welcome to Metrics!<h2>
  <div class="row">
      <%= link_to "Register a new app",new_user_registered_app_path(@user), class:'btn btn-success'%>
  </div>
  <h3>Registered apps:</h3>
  <table style="width: 10%" class="table table-hover">
    <tbody>
      <%= render @user.registered_apps %>
    </tbody>
  </table>
</div>
