<%= javascript_include_tag "https://www.google.com/jsapi" %>
<div class="cointainer">
  <h2><%=@registered_app.name %></h2>
  <%= pie_chart @registered_app.events.group(:name).count %>
  <%= line_chart @registered_app.events.group_by_day(:created_at).count %>
</div>
